* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Начало стиля для всего тела страницы */
body {
    /* Задаем цвет фона страницы */
    background: #fff;
    /* Задаем высоту всего тела страницы равной 100% высоты видимой области браузера */
    height: 100vh;
}
/* Начало стиля для класса "logo" */
.logo {
    /* Установка ширины в 50 пикселей */
    width: 50px;
    /* Установка высоты в 50 пикселей */
    height: 50px;
}
/* Устанавливаем стиль для заголовка первого уровня */
h1 {
    /* Выравниваем текст по центру */
    text-align: center;
    /* Добавляем отступы внутри элемента */
    padding: 15px;
    /* Устанавливаем цвет текста */
    color: #000000;
}
/* Контейнер с классом "container" содержит блок с классом "img-container", которому мы задаем следующие свойства: */
.container .img-container {
    display: flex;
    /*блоки внутри контейнера будут располагаться в одной строке */
    justify-content: center;
    /*блоки внутри контейнера будут выровнены по центру */
    flex-wrap: wrap;
    /*если блоки не вмещаются в одну строку, они будут переноситься на следующую строку */ 
    gap: 15px;
    /*растояние между блоками */
}
/* Начало стиля контейнера изображения */
.container .img-container .img {
 /* Установка ширины и высоты изображения */
    width: 350px;
    height: 250px;
 /* Установка толщины рамки */
    border: 10px solid #fff;
 /* Скрытие частей изображения, выходящих за пределы блока */
    overflow: hidden;
 /* Изменение курсора на указатель при наведении на изображение */
    cursor: pointer;
    }
/* CSS свойства для изображения в контейнере */
.container .img-container .img img {
 /* Задаем ширину и высоту изображения на 100% */
 width: 100%;
 height: 100%;
 /* Задаем тип заполнения изображения */
 object-fit: cover;
 /* Добавляем плавный эффект при изменении свойств */
 transition: .5s;
 }
/*  CSS свойства для увелечения изображения в контейнере "img-container", при наведений на него*/
.container .img-container .img:hover img {
 /* При наведении на изображение в контейнере "img-container", размер изображения увеличивается на 10% */
 transform: scale(1.1);
    }
/* Контейнер для всплывающего окна */
.container .pop-up {
    position: fixed; /* Фиксированная позиция на экране */
    top: 0; /* Находится вверху экрана */
    left: 0; /* Находится слева от экрана */
    height: 100%; /* Занимает всю высоту экрана */
    width: 100%; /* Занимает всю ширину экрана */
    background: rgba(0,0,0,.8); /* Цвет фона - черный с прозрачностью 80% */
    z-index: 1; /* Уровень наложения - поверх остальных элементов */
    display: none; /* Изначально скрыто */
}
/* Выбираем элемент с классом .pop-up и его дочерний элемент span */
.container .pop-up span {
 /* Фиксируем позицию элемента */
 position: fixed;
 /* Располагаем элемент сверху справа на 10px и 20px соответственно */
 top: 10px;
 right: 20px;
 /* Устанавливаем размер шрифта 50px и жирность 900 */
 font-size: 50px;
 font-weight: 900;
 /* Задаем ширину и высоту элемента 40px */
 width: 40px;
 height: 40px;
 /* Устанавливаем белый цвет фона элемента */
 background: #fff;
 /* Задаем скругление углов элемента на 50% */
 border-radius: 50%;
 /* Выравниваем текст по центру элемента */
 text-align: center;
 /* Устанавливаем высоту строки равной высоте элемента */
 line-height: 40px;
 /* Указываем, что курсор должен изменять свой вид при наведении на элемент */
 cursor: pointer;
    }
/* Устанавливаем стиль для изображения, которое будет появляться в модальном окне */
.container .pop-up img {
/* Устанавливаем абсолютное позиционирование */
position: absolute;
/* Располагаем изображение по центру по вертикали и горизонтали */
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
/* Устанавливаем белую рамку шириной 5 пикселей */
border: 5px solid #fff;
/* Устанавливаем скругленные углы рамки */
border-radius: 8px;
/* Устанавливаем ширину изображения */
width: 700px;
    }

/* CSS стиль применяется только для устройств с максимальной шириной экрана до 768 пикселей */
@media (max-width:768px) {
    /* Устанавливаем ширину изображения, находящегося внутри элемента с классом "pop-up" до 95% ширины родительского контейнера */
    .container .pop-up img {
        width: 95%;
    }
}