.footer_wrap_link {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

/* Этот блок стилизует кнопку*/
.footer_wrap_link {
    width: 236.63px; /* задает ширину блока */
    height: 56px; /* задает высоту блока */
    cursor: pointer; /* курсор будет меняться при наведении на ссылку */
    background: #5A98D0; /* задает фоновый цвет блока */
    margin-right: 114.37px; /* задает отступ справа от блока */
    margin-top: 165px; /* задает отступ сверху от блока */
    display: flex; /* блок будет выстраиваться в строку */
    justify-content: center; /* задает выравнивание по горизонтали */
    align-items: center; /* задает выравнивание по верт
